
<div id="menu">
    <ul>
        <li> <a href="@Url.Action("Details", "User")" class="list-group-item">Kullanıcı</a></li>
        <li> <a href="@Url.Action("Details", "Product")" class="list-group-item">Ürün</a></li>


    </ul>
</div>

